In [1]:
import pandas as pd
import numpy as np

In [22]:
df = pd.read_csv("D:/Estiven/Datos/Proyectos/statistics-of-use-project/data/tests/'app-usage-time'.csv", 
                 delimiter=";",
                 index_col='date',
                 parse_dates=['date'])
df.head(2)

,Amazon Shopping,Android System,Biblioapp UdeA,Bing,Calculator,Calculator_1,Calendar,Call Management,Camera,Camera_2,...,Sololearn,Spotify,Stellarium,Stockage multimédia,SUSH,Symbolab,System UI,Tasks,Tasks_3,Teams
date,,,,,,,,,,,,,,,,,,,,,
2022-10-19,0s,4s,0s,0s,3m 1s,0s,1m 30s,0s,0s,15s,...,0s,10m 17s,0s,0s,0s,0s,0s,0s,0s,0s
2022-10-20,0s,4s,0s,0s,1m 34s,0s,0s,0s,0s,8m 14s,...,0s,2m 47s,0s,0s,0s,0s,0s,0s,0s,0s

In [129]:
# import pandas as pd

# # Crear el DataFrame con los datos en formato JSON
# df = pd.DataFrame({
#     "Amazon Shopping": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
#     "Android System": ["4s", "4s", "0s", "9s", "1s", "12s", "0s"],
#     "Biblioapp UdeA": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
#     "Bing": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
#     "Calculator": ["3m 1s", "1m 34s", "0s", "0s", "31s", "6m 40s", "8s"],
#     "Calculator_1": ["0s", "1h 3m 2s", "5h 18m", "0s", "0s", "0s", "0s"],
#     "Calendar": ["1m 30s", "0s", "0s", "0s", "0s", "0s", "0s"],
#     "Call Management": ["0s", "1h", "0s", "0s", "0s", "0s", "0s"],
#     "Camera": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
#     "Camera_2": ["15s", "8m 14s", "1m 1s", "9m 44s", "3m 48s", "7m 53s", "0s"]
# })

# # Recorrer cada columna del DataFrame
for col in df.columns:
    # Convertir la columna en formato de duración
    duraciones = []
    for tiempo in df[col]:
        duracion = pd.Timedelta(0)
        partes = tiempo.split()
        for parte in partes:
            if parte[-1] == 'h':
                duracion += pd.Timedelta(hours=int(parte[:-1]))
            elif parte[-1] == 'm':
                duracion += pd.Timedelta(minutes=int(parte[:-1]))
            elif parte[-1] == 's':
                duracion += pd.Timedelta(seconds=int(parte[:-1]))
        duraciones.append(duracion)
    df[col] = duraciones

# Mostrar el DataFrame resultante
df

,Amazon Shopping,Android System,Biblioapp UdeA,Bing,Calculator,Calculator_1,Calendar,Call Management,Camera,Camera_2
0,0 days,0 days 00:00:04,0 days,0 days,0 days 00:03:01,0 days 00:00:00,0 days 00:01:30,0 days 00:00:00,0 days,0 days 00:00:15
1,0 days,0 days 00:00:04,0 days,0 days,0 days 00:01:34,0 days 01:03:02,0 days 00:00:00,0 days 01:00:00,0 days,0 days 00:08:14
2,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:00,0 days 05:18:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:01:01
3,0 days,0 days 00:00:09,0 days,0 days,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:09:44
4,0 days,0 days 00:00:01,0 days,0 days,0 days 00:00:31,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:03:48
5,0 days,0 days 00:00:12,0 days,0 days,0 days 00:06:40,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:07:53
6,0 days,0 days 00:00:00,0 days,0 days,0 days 00:00:08,0 days 00:00:00,0 days 00:00:00,0 days 00:00:00,0 days,0 days 00:00:00

In [16]:
# def convertir_a_duracion(tiempo):
#     duracion = pd.Timedelta(0)
#     partes = tiempo.split()
#     for parte in partes:
#         if parte[-1] == 'h':
#             duracion += pd.Timedelta(hours=int(parte[:-1]))
#         elif parte[-1] == 'm':
#             duracion += pd.Timedelta(minutes=int(parte[:-1]))
#         elif parte[-1] == 's':
#             duracion += pd.Timedelta(seconds=int(parte[:-1]))
#     return duracion

# df = df.applymap(convertir_a_duracion)
# path = r'D:/Estiven/Datos/Proyectos/statistics-of-use-project/data/tests'
# df.to_csv(path + 'transformed_data.csv', index=True)

In [17]:
# df = pd.DataFrame({
# "Amazon Shopping": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
# "Android System": ["4s", "4s", "0s", "9s", "1s", "12s", "0s"],
# "Biblioapp UdeA": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
# "Bing": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
# "Calculator": ["3m 1s", "1m 34s", "0s", "0s", "31s", "6m 40s", "8s"],
# "Calculator_1": ["0s", "1h 3m 2s", "5h 18m", "0s", "0s", "0s", "0s"],
# "Calendar": ["1m 30s", "0s", "0s", "0s", "0s", "0s", "0s"],
# "Call Management": ["0s", "1h", "0s", "0s", "0s", "0s", "0s"],
# "Camera": ["0s", "0s", "0s", "0s", "0s", "0s", "0s"],
# "Camera_2": ["15s", "8m 14s", "1m 1s", "9m 44s", "3m 48s", "7m 53s", "0s"]
# })

In [18]:
# df